*~
node_modules/
bower_components/
/script.js
/Gruntfile.js
/demoApp.js
/pdfPage.js
/pdfRenderer.js
/pdfViewer.js
/npm-debug.log
/pdf.js-1.0.712/
/v1.0.712.tar.gz
/pdfAnnotations.js
/pdfHighlights.js
/pdfTextLayer.js
