<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/pdfjs-dist/web/compatibility.js"></script>
    <script src="bower_components/pdfjs-dist/build/pdf.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="pdfstyle.css"/>
  </head>
  <body ng-app="pdfDemo" ng-strict-di>
    <div id='demo' ng-controller="pdfDemoCtrl">

	<form>
	  <label ng-repeat="pdf in pdfs">
	    <input type="radio" ng-model="$parent.pdfSrc" ng-value='pdf'>{{pdf}}<br/>
	  </label>
	  Scale 
	  <select name="scale" ng-model="pdfScale">
	    <option ng-value='v' ng-repeat="v in scales">{{v}}</option>
	  </select><br/>
	  <tt>url = {{pdfSrc}} scale= {{pdfScale}}</tt><br/>
	</form>

      <div class="ui-layout-center" style="width:800px; height:400px;       padding-left: 10px;
      padding-right: 10px;
overflow-y:scroll;
">
	<div data-pdf-viewer class="pdfviewer" pdf-src="{{pdfSrc}}" pdf-scale="{{pdfScale}}"></div>
      </div>

    </div>

    <script src="bower_components/jquery-ui-layout/source/jquery/jquery-ui-1.10.4.js"></script>
    <script src="bower_components/jquery-ui-layout/source/stable/jquery.layout_and_plugins.js"></script>
    <script>
      $(document).ready(function () {
      var scope = angular.element('#demo').scope(); 
      console.log('JQUERY finished broadcasting event to', scope);
      scope.$apply(scope.$broadcast('layout-ready'));
      });
    </script>

  </body>
</html>
