<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="pdf.js-1.0.712/build/generic/web/compatibility.js"></script>
    <script src="pdf.js-1.0.712/build/generic/build/pdf.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <script src="pdfRenderer.js"></script>
    <script src="pdfPage.js"></script>
    <script src="pdfViewer.js"></script>
    <script src="demoApp.js"></script>

    <script src="pdf.js-1.0.712/web/ui_utils.js"></script>
    <script src="pdf.js-1.0.712/web/text_layer_builder.js"></script>

    <link rel="stylesheet" type="text/css" href="pdfstyle.css"/>
    <link rel="stylesheet" type="text/css" href="libs/TextLayer.css"/>
    <style>
      html, body {
		background:	#666;
		width:		100%;
		height:		100%;					
		padding:	0;
		margin:		0;
		overflow:	auto; /* when page gets too small */
	}

	#demo {
		background:	#999;
		height:		100%;
		margin:		0 auto;
		width:		100%;
		max-width:	100%;
		min-width:	700px;
		_width:		700px; /* min-width for IE6 */
	}


    </style>
  </head>
  <body ng-app="pdfDemo" ng-strict-di>
    <div id='demo' ng-controller="pdfDemoCtrl">

      <div class="ui-layout-north">
	<form>
	  <label ng-repeat="pdf in pdfs">
	    <input type="radio" ng-model="$parent.pdfSrc" ng-value='pdf'>{{pdf}}<br/>
	  </label>
	  Scale 
	  <select name="scale" ng-model="pdfScale">
	    <option ng-value='v' ng-repeat="v in scales">{{v}}</option>
	  </select><br/>
	  <tt>url = {{pdfSrc}} scale= {{pdfScale}}</tt><br/>
	</form>

	<form>
	  <label ng-repeat="pdf in pdfs">
	    <input type="radio" ng-model="$parent.pdfSrc2" ng-value='pdf'>{{pdf}}<br/>
	  </label>
	  Scale
	  <select name="scale" ng-model="pdfScale2">
	    <option ng-value='v' ng-repeat="v in scales">{{v}}</option>
	  </select><br/>
	  <tt>url = {{pdfSrc2}} scale= {{pdfScale2}}</tt><br/>
	</form>
	
      </div>


      <div class="ui-layout-west">
	West pane
      </div>

      <div class="ui-layout-center">
	<div data-pdf-viewer class="pdfviewer" pdf-src="{{pdfSrc}}" pdf-scale="{{pdfScale}}" pdf-state='pdfState'></div>
      </div>

      <div class="ui-layout-east">
	<h1>Offset</h1>
	 <div data-pdf-viewer class="pdfviewer" pdf-src="{{pdfSrc2}}" pdf-scale="{{pdfScale2}}" pdf-state='pdfState2'></div> 
      </div>

      <div class="ui-layout-south">
	South pane
      </div>

    </div>

    <script src="bower_components/jquery-ui-layout/source/jquery/jquery-ui-1.10.4.js"></script>
    <script src="bower_components/jquery-ui-layout/source/stable/jquery.layout_and_plugins.js"></script>
    <script>
      $(document).ready(function () {
      $('#demo').layout({ defaults : {applyDefaultStyles: true,
      onresize_start: function (name, element, state, options, layout_name) {
         //console.log('resize start', name, element, state, options);
      },
      onresize_end: function (name, element, state, options, layout_name) {
         console.log('JQUERY: resize end', name, element, state, options);
         var scope = angular.element(element[0]).scope(); 
         scope.$apply(scope.$broadcast('layout-resize'));
      }},

      east: { resizable: true, slidable: true }});

      var scope = angular.element('#demo').scope(); 
      console.log('JQUERY finished broadcasting event to', scope);
      scope.$apply(scope.$broadcast('layout-ready'));
      });
    </script>

  </body>
</html>
