<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="pdf.js-1.0.712/build/generic/web/compatibility.js"></script>
    <script src="pdf.js-1.0.712/build/generic/build/pdf.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="pdfRenderer.js"></script>
    <script src="pdfPage.js"></script>
    <script src="pdfViewer.js"></script>
    <script src="demoApp.js"></script>

    <script src="pdf.js-1.0.712/web/ui_utils.js"></script>
    <script src="pdf.js-1.0.712/web/text_layer_builder.js"></script>

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="pdfstyle.css"/>
    <link rel="stylesheet" type="text/css" href="libs/TextLayer.css"/>
  </head>
  <body ng-app="pdfDemo" ng-strict-di>
    <div id='demo' ng-controller="pdfDemoCtrl">
	<form>
	  <label ng-repeat="pdf in pdfs">
	    <input type="radio" ng-model="$parent.pdfSrc" ng-value='pdf'>{{pdf}}<br/>
	  </label>
	  Scale 
	  <select name="scale" ng-model="pdfScale">
	    <option ng-value='v' ng-repeat="v in scales">{{v}}</option>
	  </select><br/>
	  Please Scroll To <input type="text" ng-model="pleaseScrollTo"><br/>
	  currentPageNumber <input type="text" ng-model="pdfState.currentPageNumber"><br/>
	  currentPagePosition <input type="text" ng-model="pdfState.currentPagePosition"><br/>
	  <tt>url = {{pdfSrc}} scale= {{pdfScale}} currentPageNumber={{pdfState.currentPageNumber}} position={{pdfState.currentPagePosition}}</tt><br/>
	</form>

      <div class="ui-layout-center" style="width:800px; height:400px;       padding-left: 10px;
      padding-right: 10px;
overflow-y:scroll;
">
	<div data-pdf-viewer class="pdfviewer" pdf-src="{{pdfSrc}}" pdf-scale="{{pdfScale}}" pdf-state='pdfState'></div>
      </div>

    </div>

    <script src="bower_components/jquery-ui-layout/source/jquery/jquery-ui-1.10.4.js"></script>
    <script src="bower_components/jquery-ui-layout/source/stable/jquery.layout_and_plugins.js"></script>
    <script>
      $(document).ready(function () {
      var scope = angular.element('#demo').scope(); 
      console.log('JQUERY finished broadcasting event to', scope);
      scope.$apply(scope.$broadcast('layout-ready'));
      });
    </script>

  </body>
</html>
