.pdfviewer {
    width: 100%;
/*  box-sizing: border-box;  */
/*  border: 1px solid black;  */
}

.pdfviewer .pdf-page-container {
    transition-property: background;
    transition-duration: 1s;
    background: grey;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: black 0px 0px 10px;
/*  box-sizing: border-box;  */
}

.pdfviewer-controls {
    position: fixed;
}

.pdfviewer canvas.pdf-canvas-new {
    display: none;  /* hide canvas until layout complete */
    background: red;
}
